* {
  box-sizing: border-box;
}

html {
  background-color: grey;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.app-title a{
  text-decoration: none;
  color: brown
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links a{
  text-decoration: none;
  color: brown;
  padding: 1rem;
  display: block
}