* {
  box-sizing: border-box;
}

#root, html, body {
  height:100%
}

html {
  background-color:black;
}

header {
  margin:0;
  padding:0;
  height: 500px;
  box-sizing: border-box
}

.header-image {
  object-fit: cover;
  width: 100%;
  height: 100%
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  /* the sticky only within parent element... fragment doesnt count, so i wrapped it around a div*/
  position:sticky;
  top:0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.app-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.app-title a{
  text-decoration: none;
  color: whitesmoke;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links a{
  text-decoration: none;
  color: whitesmoke;
  padding: 13.5px 16px;
  display: block
}

.navbar-links li:hover{
  background-color: rgb(110, 110, 110); 
}

.burger-toggle {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
  font-size: 1.5rem;
  border: 0;
  padding: 0.75rem;
}



.card-area {
  display:grid;
  margin:30px;
  padding:0;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.photo {
  width: 75%
}

@media (max-width: 647px) {
  .burger-toggle {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .navbar-links a{
    padding: 0.25rem 1rem
  }
/* need to figure out how to toggle this with react state hooks*/
  .navbar-links.active {
    display: flex;
/* i want to rotate this burger menu, 90 degrees with animation when active */
  }
}